name: Build and run Geopolitical Simulator GP Explorer

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up JDK 8
      uses: actions/setup-java@v5
      with:
        java-version: '8'
        distribution: 'adopt'

    - name: Build
      run: |
        cd GeopoliticalSimulator/TextureExtractor-src
        curl --fail -o commons-io.jar https://repo1.maven.org/maven2/commons-io/commons-io/2.20.0/commons-io-2.20.0.jar
        javac -classpath .:commons-io.jar ovh/maddie480/GPExplorer.java
        mkdir -p out/production/TextureExtractor-src/ovh/maddie480
        mv ovh/maddie480/*.class out/production/TextureExtractor-src/ovh/maddie480/

    - name: Upload compiled sources as artifact
      uses: actions/upload-artifact@v4
      with:
        name: GeopoliticalSimulatorGPExplorer
        path: GeopoliticalSimulator/TextureExtractor-src/out/production/TextureExtractor-src

    - name: Run
      run: |
        chmod +x ./GeopoliticalSimulator/TextureExtractor-src/convert.sh
        ./GeopoliticalSimulator/TextureExtractor-src/convert.sh

    - name: Upload converted files as artifact
      uses: actions/upload-artifact@v4
      with:
        name: GeopoliticalSimulatorConvertedTextures
        path: /tmp/gp-explorer/target
