name: Build and run LanguageDemaker (tm)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK 8
      uses: actions/setup-java@v5
      with:
        java-version: '8'
        distribution: 'adopt'

    - name: Build
      run: |
        cd Team6/AssetConverter-src
        javac ovh/maddie480/Language*.java
        rm ovh/maddie480/*.java
        mkdir out
        mv ovh out

    - name: Upload compiled sources as artifact
      uses: actions/upload-artifact@v5
      with:
        name: Team6LanguageDemaker
        path: Team6/AssetConverter-src/out

    - name: Run
      run: |
        cd Team6/AssetConverter-src
        for file in `ls -1 langfiles`; do
          dest=`echo -n $file | sed s/DCL/txt/`
          [ "$file" = "FlatOut3-French.DCL" ] && keys=strings || keys=ints
          java -ea -cp out ovh.maddie480.LanguageDemaker langfiles/$file langfiles/$dest $keys

          # Converting the other way around should result in the same file
          java -cp out ovh.maddie480.LanguageRemaker langfiles/$dest langfiles/remake.dcl $keys
          if ! cmp -s langfiles/$file langfiles/remake.dcl; then
            exit 1
          fi

          # cleanup
          rm langfiles/remake.dcl langfiles/$file
        done

    - name: Upload converted files as artifact
      uses: actions/upload-artifact@v5
      with:
        name: Team6ConvertedLanguageFiles
        path: Team6/AssetConverter-src/langfiles
