name: Build and run Pizza Code Finder

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up JDK 8
      uses: actions/setup-java@v5
      with:
        java-version: '8'
        distribution: 'adopt'

    - name: Build
      run: cd Team6/PizzaCodeFinder-src && javac ovh/maddie480/PizzaCodeFinder.java

    - name: Run
      env:
        CALLAPIZZA_DUDE_URL: ${{ secrets.CALLAPIZZA_DUDE_URL }}
      run: |
        curl -Lo "Pizza CAP.exe" $CALLAPIZZA_DUDE_URL
        mkdir out
        java -cp Team6/PizzaCodeFinder-src ovh.maddie480.PizzaCodeFinder > out/pizza_codes.txt
        echo "Here is a random pizza code:"
        shuf -n 1 out/pizza_codes.txt

    - name: Upload found codes as artifact
      uses: actions/upload-artifact@v5
      with:
        name: PizzaCodes
        path: out
