name: Build and package SHS Chat Control

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK 8
      uses: actions/setup-java@v5
      with:
        java-version: '8'
        distribution: 'adopt'

    - name: Build and Prepare Package
      run: |
        cd StreathamHillStories/ChatControl-src
        javac ovh/maddie480/shscontrol/*.java
        cd ../..
        mkdir -pv dist/classes/ovh/maddie480/shscontrol
        mv -v StreathamHillStories/ChatControl-src/ovh/maddie480/shscontrol/*.class dist/classes/ovh/maddie480/shscontrol/
        mv -v StreathamHillStories/ChatControl-src/*.bat dist/
        curl -o java.zip https://download.java.net/openjdk/jdk8u43/ri/openjdk-8u43-windows-i586.zip
        unzip java.zip
        mv -v java-se-8u43-ri/jre dist/

    - name: Upload build as artifact
      uses: actions/upload-artifact@v5
      with:
        name: SHSChatControl
        path: dist
